.wrapPost{
    .menu{
        background-color: aquamarine;
        .tilte{
            font-size: 30px;
            font-weight: bold;
            color: black;

            
        }
        .content{
            font-family: monospace;
            font-weight: italic;
            

        }
    }
}
.showAlert{
    opacity: 1;
    transition: 1s;
}
.success{
    opacity: 0;
}
.media-body{
   background-color: #8EC7C3;
   border-radius: 15px;
   padding: 20px;
   padding-left: 20px;
   
   &:hover{
       color:black;
       transition: 1s;
       background-color: #D3C0AA;

   }

}
.alertSuccess{
    color:green;
    font-size: 30px;
}
.none{
    display: none;
}
.modal-content{
    background-color: rgb(98, 160, 115);
    color:rgba(217,224,226, 1)!important;
    opacity: 0.8;
}